.button {
	display: inline-block;
	@include border-radius(4px);
	transition: 0.4s all ease;
	background: $primary;
	color: #fff;
	font-weight: 600;
	@include rems(padding, 1, 2);
	border: none;
	font-family: $body-font;
	@include font-size(1.8, 2.4);
	@include box;
	text-decoration: none;
	@media #{$phone} {
		@include box;
		width: 100%;
		text-align: center;
		@include font-size(1.4, 1.8);
	}
	i {
		@include rems(margin-right, 1);
	}
	&.small {
		@include rems(padding, 0.5, 1);
		@include font-size(1.6, 2);
		i {
			margin-right: 0;
		}
	}
	&.alt, &.warning {
		background: $traffic-amber;
	}
	&.danger {
		background: $traffic-red;
	}
	&.map-toggle {
		@include border-radius(4px 4px 0 0);
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
		@media #{$phone} {
			display: none;
		}
	}
	table & {
		width: 100%;
	}
	
	&:hover {
		@include opacity(0.6);
	}
	&.secondary {
		background: none;
		color: $body;
		border: 1px solid $body;
		&:hover {
			background: $body;
			color: #fff;
		}
	}
}
