body {
	font-family: $body-font;
	@include font-size(1.6, 2);
	color: $body;
	background: #ededed;
}
a {
	color: $body;
}
.container {
	@include rems(max-width, 120);
	@include clearfix;
	&.main {
		@include rems(padding, 4, 0);
	}
	&.ultra {
		@include rems(padding, 8, 0);
		@media #{$phone} {
			@include rems(padding, 4, 0);
		}
	}
	&.mid {
		@include rems(max-width, 90);
		@media #{$tablet} {
			@include rems(max-width, 120);
		}
	}
}
.page-content {
	position: relative;
	min-height: 100%;
}
.header-fix {
	@include rems(padding, 6.5, 0, 4);
	@media #{$phone} {
		padding-top: 0 !important;
	}
}
.acf-map {
	@include rems(height, 40);
}
