.ui-datepicker {
	@include rems(padding, 2);
	background: #fff;
	@include border-radius(10px);
	@include rems(margin-top, 2);
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
			box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	position: absolute;
	top: 100% !important;
	left: 50% !important;
	display: none;
	@include rems(width, 36);
	@include rems(margin-left, -18);
	@include box;
	z-index: 1000;
	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: 100%;
		left: 50%;
		@include rems(margin-left, -1);
		margin-bottom: -1px;
		width: 0;
		height: 0;
		border-style: solid;
		@include rems(border-width, 0, 1, 1, 1);
		border-color: transparent transparent #fff transparent;
		z-index: 10;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 100%;
		left: 50%;
		@include rems(margin-left, -1);
		width: 0;
		height: 0;
		border-style: solid;
		@include rems(border-width, 0, 1, 1, 1);
		border-color: transparent transparent #ccc transparent;
		z-index: 5;
	}
	.ui-datepicker-header {
		@include clearfix;
		@include rems(margin-bottom, 1);
		a {
			display: block;
			@include rems(width, 0.6);
			@include rems(height, 2);
			background-size: 6px auto;
			background-size: 0.6rem auto;
			background-repeat: no-repeat;
			text-indent: -10000px;
			&.ui-datepicker-prev {
				float: left;
				background-image: url('../images/icons/datepicker-left@2x.png');
				background-position: left center;
			}
			&.ui-datepicker-next {
				float: right;
				background-image: url('../images/icons/datepicker-right@2x.png');
				background-position: right center;
			}
		}
		.ui-datepicker-title {
			text-align: center;
		}
	}
	table {
		text-align: center;
		border: 1px solid #ccc;
		width: 100%;
		th, td {
			@include rowMachine(7, 0);
			@include box;
			border-right: 1px solid #ccc;
			transition: 0.4s all ease;
			position: relative;
			&:last-child {
				border-right: none;
			}
			&.ui-datepicker-unselectable {
				@include opacity(0.5);
				@include rems(padding, 0.5);
			}
			&:hover, &.ui-datepicker-current-day {
				background: #ecf0f1;
			}
			a {
				display: block;
				@include rems(padding, 0.5);
				color: $body;
				text-decoration: none;
				font-weight: 600;
				text-align: center;
				&:before {
					display: block;
					@include rems(width, 0.6);
					@include rems(height, 0.6);
					border: 1px solid #ccc;
					@include border-radius(50%);
					content: '';
					margin: 0 auto;
					@include rems(margin-bottom, 0.5);
				}
			}
			&.extended-night, &.core-night {
				&:before, &:after {
					display: block;
					transition: visibility 0s linear 0.5s,opacity 0.5s linear;
					visibility: hidden;
					opacity: 0;
				}
				&:before {
					position: absolute;
					@include rems(padding, 0.5);
					@include border-radius(2px);
					background: #333;
					color: #fff;
					left: 50%;
					transform: translateX(-50%);
					bottom: 100%;
					white-space: nowrap;
					@include font-size(1.4, 1.4);
					
				}
				&:after {
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					@include rems(border-width, 0.4, 0.4, 0, 0.4);
					border-color: #333 transparent transparent transparent;
					content: '';
					top: 0;
					left: 50%;
					@include rems(margin-left, -0.4);
				}
				&:hover {
					&:before, &:after {
						opacity: 1;
						visibility: visible;
						transition-delay:0s;
					}
				}
			}
			&.extended-night {
				&:before {
					content: 'Extended Night';
				}
				a {
					//border-top: 5px solid $traffic-amber;
					//border-top: 0.5rem solid $traffic-amber;
				}
			}
			&.core-night {
				&:before {
					content: 'Core Night';
				}
				a {
					//border-top: 5px solid $traffic-green;
					//border-top: 0.5rem solid $traffic-green;
					&:before {
						background: #ccc;
					}
				}
			}
			&.calendar-range {
				background: rgba(52, 152, 219, 0.1)
			}
		}
		th {
			background: #ededed;
			@include rems(padding, 0.5);
			border-bottom: 1px solid #ccc;
		}
		tr {
			border-bottom: 1px solid #ccc;
		}
	}
}
