.hotel-details {
	border-bottom: 1px solid #ccc;
	&-sidebar {
		@include rems(width, 35);
		@include rems(margin-right, 8);
		@media #{$tablet} {
			@include rems(margin-right, 4);
		}
		@media #{$tablet-portrait} {
			width: 100%;
			margin-right: 0;
			@include rems(margin-bottom, 4);
			position: relative;
		}
		@media #{$phone} {
			width: 90%;
			margin: 0 auto;
			@include rems(margin-bottom, 4);
			float: none;
		}
		img {
			display: block;
		}
		.slider-container {
			@include rems(margin-top, 2);
			@media #{$tablet-portrait} {
				display: none;
			}
		}
	}
	&-main {
		width: 65%;
		width: calc(100% - 430px);
		width: calc(100% - 43rem);
		@media #{$tablet} {
			width: calc(100% - 390px);
			width: calc(100% - 39rem);
		}
		@media #{$tablet-portrait} {
			width: 100%;
			@include rems(margin-bottom, 8);
		}
		@media #{$phone} {
			@include rems(margin-bottom, 4);
		}
		.button {
			@include rems(margin-bottom, 2);
		}
	}
	&-info {
		@include rems(margin-bottom, 4);
	}
	.container {
		display: flex;
		@media #{$tablet-portrait} {
			flex-wrap: wrap;
			flex-direction: column-reverse;
		}
	}
}
.room-details {
	background: #fff;
	table {
		width: 100%;
		th, td {
			@include rems(padding, 1, 2);
			text-align: left;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			@include box;
			@media #{$phone} {
				display: block;
				width: 100%;
				@include box;
				border: none;
			}
			&:first-child {
				width: 30%;
				@media #{$phone} {
					width: 100%;
				}
			}
			&:nth-child(2n) {
				width: 50%;
				@media #{$phone} {
					width: 100%;
				}
			}
			&:last-child {
				width: 20%;
				border-right: none;
				text-align: center;
				@media #{$phone} {
					width: 100%;
					border-bottom: 1px solid #ccc;
				}
			}
		}
		th {
			background: #ededed;
			@media #{$phone} {
				display: none;
			}

		}
		td {
			background: #f7f7f7;
			&:nth-child(2n) {
				@include rems(padding, 1, 4);
				@media #{$phone} {
					@include rems(padding, 1, 2);
				}
			}
		}
		tr {
			&:last-child {
				td {
					border-bottom: none;
				}
			}
		}
	}
}
