footer {
	background: #fefefe;
	border-top: 1px solid #ccc;
	@include rems(padding, 1, 0);
	width: 100%;
	.landing-splash & {
		align-self: flex-end;
		position: relative;
		z-index: 100;
	}
	.header-fix & {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		@media #{$phone} {
			position: static;
		}
	}
	.footer-container {
		width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.no-flexbox:not(.ie-10) & {
			@include clearfix;
			&  * {
				&:first-child {
					float: left;
				}
				&:last-child {
					float: right;
				}
			}
		}
		@media #{$phone} {
			flex-wrap: wrap;
		}
	}
	a {
		text-decoration: none;
	}
}
