.form-split {
	@include clearfix;
	margin-bottom: 2%;
	aside {
		@include rowMachine(2, 2%);
		padding: 0!important;
		input[type=email], input[type=text], input[type=tel], textarea {
			margin-bottom: 0;
		}
	}
}
fieldset {
	border: none;
}
input[type=email], input[type=text], input[type=tel], input[type=password], input[type=number], textarea {
	width: 100%;
	@include box;
	@include rems(padding, 1);
	-webkit-appearance: none;
	border-radius: 0;
	outline: none;

	// Custom Styles

	background: #fff;
	color: $body;
	font-family: $body-font;
	@include font-size(1.6, 2.4);
	border: 1px solid #ccc;
	@include border-radius(4px);
	transition: 0.4s all ease;
	&.date-picker {
		background: url('../images/date-icon@2x.png') right 10px center no-repeat #fff;
		background: url('../images/date-icon@2x.png') right 1rem center no-repeat #fff;
		background-size: 16px auto;
		background-size: 1.6rem auto;
		@include rems(padding, 1, 4.6, 1, 1);
	}
	table & {
		margin-bottom: 0;
	}
	&:focus {
		border: 1px solid $primary;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
input[type="submit"] {
	text-decoration: none;
	@include hover;
	cursor: pointer;
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;

	// Custom Styles

	@include border-radius(4px);
	transition: 0.4s all ease;
	background: $primary;
	color: #fff;
	font-weight: 600;
	@include rems(padding, 1, 2);
	border: none;
	font-family: $body-font;
	@include font-size(1.8, 2.4);
	@include box;
	.search-form-container & {
		width: 100%;
	}
	&:hover {
		@include opacity(0.6);
	}
}
select {
	background-image: url('../images/select@2x.png');
	background-position: right 10px center;
	background-position: right 1rem center;
	background-repeat: no-repeat;
	background-size: 10px auto;
	background-size: 1rem auto;
	@include rems(padding, 1, 4, 1, 1);
	width: 100%;
	@include box;
	-webkit-appearance: none;
	   -moz-appearance: none;
	border-radius: 0;
	margin-bottom: 2%;
	outline: none;

	// Custom Styles

	background-color: #fff;
	font-family: $body-font;
	@include font-size(1.6, 2.4);
	border: 1px solid #ccc;
	color: #333;
	@include border-radius(4px);
	transition: 0.4s all ease;
	&:focus {
		border: 1px solid $primary;
	}
	table &, &:last-child {
		margin-bottom: 0;
	}
}
select::-ms-expand {
    display: none;
}
form {
	input[type="submit"] {
		float: right;
	}
	p {
		padding-bottom: 0;
	}
	br {
		display: none;
	}
	label {
		font-weight: 600;
		display: block;
		@include rems(margin-bottom, 1);
		@include rems(padding-left, 1);
		&.checkbox-label {
			display: inline;
		}
	}
	.summary-box & {
		@include clearfix;
	}
}
.search-form-container {
	@include rems(max-width, 120);
	width: 90%;
	background: #fff;
	position: relative;
	z-index: 100;
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
			box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
	form {
		display: flex;
		@include rems(padding, 4);
		align-items: flex-end;
		width: 100%;
		@include box;
		.no-flexbox & {
			@include clearfix;
		}
		@media #{$tablet-portrait} {
			flex-wrap: wrap;
			justify-content: space-between;
		}
		@media #{$phone} {
			@include rems(padding, 2);
		}
		aside {
			width: 20%;
			width: calc((100% - 160px)/4);
			width: calc((100% - 16rem)/4);
			margin-right: 1%;
			position: relative;
			.no-flexbox & {
				@include rowMachine(5, 2%);
			}
			@media #{$tablet-portrait} {
				width: 49%;
				margin-right: 0;
				input, select {
					margin-bottom: 10px !important;
					margin-bottom: 1rem !important;
				}
			}
			@media #{$phone} {
				@include rowMachine(1, 2%);
			}
			&:last-child {
				@include rems(width, 16);
				margin-right: 0;
				.no-flexbox & {
					float: right;
				}
				.no-flexbox:not(.ie-10) & {
					@include rems(padding-top, 3);
				}
				@media #{$tablet-portrait} {
					margin-left: auto;
				}
				@media #{$phone} {
					width: 100%;
				}
			}
		}
	}
}
.error-message {
	display: block;
	@include rems(max-width, 60);
	width: calc(100% - 80px);
	width: calc(100% - 8rem);
	margin: 0 auto;
	@include rems(margin-bottom, 4);
	@include box;
	@include rems(padding, 1, 2);
	@include border-radius(2px);
	border: 1px solid $traffic-red;
	color: $traffic-red;
	text-align: center;
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $traffic-red;
		@include opacity(0.1);
		display: block;
		content: '';
	}
	&:after {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 4px 4px 4px;
		@include rems(border-width, 0, 0.6, 0.6, 0.6);
		border-color: transparent transparent $traffic-red transparent;
		content: '';
		display: block;
		bottom: 100%;
		position: absolute;
		left: 50%;
		@include rems(margin-left, -0.6);
	}
}
input.error,
select.error {
	border: 1px solid $traffic-red;
}
ul.errors li {
	color: $traffic-red;
}
.checkbox-list {
	li {
		display: flex;
		align-items: center;
		position: relative;
		@include rems(margin, 0, 0, 0.5, 0);
		&:last-child {
			margin-bottom: 0;
		}
		label {
			display: block;
			position: relative;
			@include rems(padding-left, 2.4);
			z-index: 9;
			cursor: pointer;
			transition: 0.4s all ease;
			margin-bottom: 0;
		}
		.check {
			display: flex;
			align-items: center;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: 5;
			transition: 0.4s all ease;
			&:before {
				display: block;
				//position: absolute;
				@include icon('\f096');
			}
		}
		input {
			@include rems(margin-right, 0.5);
			&[type=radio], &[type=checkbox] {
				position: absolute;
  				visibility: hidden;
			}
			&[type=checkbox] {
				&:checked {
					& ~ .check {
						&:before {
							@include icon('\f046');
							//@include rems(top, -0.5);
							left: 0;
							color: $primary;
						}
					}
				}
			}
		}
	}
}
.checkbox-list {
	li {
		.check {
			@include border-radius(3px);
		}
	}
}
