header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background: #fff;
	border-bottom: 1px solid #ccc;
	@include rems(padding, 2, 0);
	@media #{$phone} {
		position: static;
	}
	.header-container {
		width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.no-flexbox:not(.ie-10) & {
			@include clearfix;
			&  * {
				&:first-child {
					float: left;
				}
				&:last-child {
					float: right;
				}
			}
		}
		@media #{$phone} {
			flex-wrap: wrap;
		}
	}
	a {
		text-decoration: none;
	}
}
