.form-splash {
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('../images/backgrounds/toronto-large.jpg') center center no-repeat;
	background-size: cover;
	position: relative;
	@include rems(padding, 8, 0);
	position: relative;
	@include box;
	@media #{$phone} {
		@include rems(padding, 4, 0);
	}
	.no-flexbox:not(.ie-10) & {
		.search-form-container {
			margin: 0 auto;
			@include rems(margin-top, 8);
		}
	}
	&.landing-splash {
		width: 100%;
		height: 100%;
		@include rems(padding, 8, 0, 0);
		flex-wrap: wrap;
		@media #{$phone} {
			height: auto;
			@include rems(padding, 4, 0, 0);
		}
	}
}
.splash-cover {
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 5;
}
