.full-map {
	@include rems(height, 30);
	transition: 0.4s all ease;
	.hotel-details-main & {
		@include rems(height, 40);
		@media #{$phone} {
			@include rems(height, 25);
		}
	}
	&.enlarged {
		@include rems(height, 60);
	}
}
.map-container {
	position: relative;
	.hotel-details-main & {
		border: 1px solid #ccc;
	}
}
