.hotel-meta {
	@include border-radius(4px);
	background: #ededed;
	@include rems(padding, 1, 2);
	@include rems(margin-bottom, 2);
	.hotel-details-main & {
		background: #fff;
		@include rems(margin-bottom, 4);
	}
	ul {
		display: flex;
		align-items: center;
		@media #{$phone} {
			flex-wrap: wrap;
		}
		li {
			@include rems(margin-right, 2);
			.no-flexbox:not(.ie-10) & {
				@include rems(margin-bottom, 0.5);
				&:last-child {
					margin-bottom: 0;
				}
			}
			@media #{$phone} {
				width: 100%;
				@include rems(margin, 0, 0, 1);
			}
			&.distance {
				@include rems(padding-left, 1.7);
				background: url('../images/walking-icon.png') left center no-repeat;
			}
			i {
				@include rems(margin-right, 0.5);
				@include font-size(1.8, 1.8);
			}
			&:last-child {
				margin: 0;
			}
		}
	}
}
