.overlay-cover {
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	position:fixed;
	background:#0b0b0b;
	opacity:.8;
	filter:alpha(opacity=80);
	z-index: 9999;
	display: none;
}
.overlay-wrap {
	display: none;
	visibility: hidden;
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:fixed;
	outline:0!important;
	-webkit-backface-visibility:hidden;
	overflow-y: auto; 
	overflow-x: hidden;
	z-index: 9999;
	.overlay-container {
		text-align:center;
		position:absolute;
		width:100%;
		height:100%;
		left:0;
		top:0;
		padding:0 8px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		.overlay-content {
			position:relative;
			display:inline-block;
			vertical-align:middle;
			margin: 80px auto;
			margin: 8rem auto;
			@include rems(max-width, 100);
			text-align:left;
			z-index:1045;
			.overlay-close {
				position: absolute;
				@include rems(top, -4);
				@include rems(right, -4);
				color: #fff;
				@media #{$tablet-portrait} {
					@include rems(top, 2);
					@include rems(right, 2);
				}
			}
		}
	}
}

