.payment-card, .payment-card-new {
	@include rems(padding, 1, 0);
	border-top: 1px solid #ccc;
	width: 100%;
	transition: 0.4s all ease;
	&:first-of-type {
		border-top: 1px solid #fff;
	}
	&.active {
		border: 1px solid #ccc;
		@include border-radius(4px);
		background: #f8f8f8;
		& + .payment-card, & + .payment-card-new {
			border-top: 1px solid #fff;
		}
	}
	& > * {
		display: flex;
		align-items: center;
		margin-bottom: 0;
		cursor: pointer;
		font-weight: 600;
		@include rems(padding, 0, 1);
		span {
			@include rems(margin-right, 4);
			&:last-child {
				margin-right: 0;
			}
		}
		input {
			@include rems(margin-right, 2);
		}
	}
	img {
		display: block;

	}
}
.payment-card-new {
	@include rems(margin-bottom, 4);
	border-top: none;
}
