.search-sidebar {
	width: 24%;
	@include rems(margin-right, 4);
	@media #{$tablet-portrait} {
		width: 100%;
		@include rems(margin-bottom, 4);
	}
	.star-rating {
		display: inline-block;
	}
}
.search-widget {
	background: #fff;
	@include rems(padding, 2);
	@include clearfix;
	.widget-section {
		@include rems(padding-bottom, 2);
		@include rems(margin-bottom, 2);
		border-bottom: 1px solid #ccc;
	}
}
.search-main {
	width: 76%;
	width: calc(76% - 40px);
	width: calc(76% - 4rem);
	@media #{$tablet-portrait} {
		width: 100%;
	}
}
.search-results {
	&-item {
		background: #fff;
		@include rems(padding, 4);
		@include rems(margin-bottom, 4);
		@media #{$phone} {
			@include rems(padding, 2);
			@include rems(margin-bottom, 2);
		}
		&:last-child {
			margin-bottom: 0;
		}
		&-header {
			@include clearfix;
			@include rems(margin-bottom, 2);
		}
		&-thumbnail {
			@include rems(width, 21);
			@include rems(margin-right, 4);
			@media #{$phone} {
				width: 100%;
				@include rems(margin-bottom, 2);
			}	
			img {
				display: block;
				@media #{$phone} {
					width: 100%;
				}
			}
		}
		&-details {
			width: calc(100% - 250px);
			width: calc(100% - 25rem);
			overflow: hidden;
			position: relative;
			@media #{$phone} {
				width: 100%;
			}
			.description-toggle {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				text-align: center;
				display: block;
				color: $body;
				text-decoration: none;
				span {
					display: block;
					background: #fff;
					@include rems(padding, 2, 0, 0);
					overflow: hidden;
					position: relative;
					&:before {
						height: 2px;
						content: '';
						background: #ccc;
						display: block;
						position: absolute;
						top: calc(50% + 10px);
						top: calc(50% + 1rem);
						left: 0;
						right: 0;
						margin-top: -1px;
					}
					em {
						display: inline-block;
						background: #fff;
						@include rems(padding, 0, 2);
						position: relative;
						z-index: 10;
					}
				}
			}
		}
		&-footer {
			border-top: 1px solid #ccc;
			@include rems(padding-top, 2);
			@include clearfix;
			a {
				float: right;
			}
		}
		.star-rating {
			float: right;
		}
	}
}
.search-error {
	@include border-radius(10px);
	@include rems(padding, 1, 2);
	color: $traffic-red;
	border: 2px solid $traffic-red;
	@include rems(margin-bottom, 2);
	font-weight: 600;
	&:last-child {
		margin-bottom: 0;
	}
}
