.slider-container, .hotel-details-sidebar {
	position: relative;
	@include clearfix;
	.search-results-item & {
		@include rems(margin-bottom, 2);
	}
	.bx-next, .bx-prev {
		position: absolute;
		top: 50%;
		//display: flex;
		//align-items: center;
		//justify-content: center;
		@include border-radius(50%);
		//@include rems(width, 3);
		//@include rems(height, 3);
		//@include rems(margin-top, -1.5);
		transform: translateY(-50%);
		@include font-size(2, 2);
		transition: 0.4s all ease;
		color: $body;
		text-decoration: none;
		&:hover {
			color: $primary;
		}
		&.disabled {
			@include opacity(0.2);
			&:hover {
				color: $body;
			}
		}
		.fa-stack-2x {
			@include font-size(3, 3);
		}
		.fa-stack-1x {
			@include font-size(2, 2);
			@include rems(margin-top, 0.3);
		}
	}
	.bx-next {
		left: 100%;
		@media #{$phone} {
			@include rems(margin-left, -0.5);
		}
	}
	.bx-prev {
		right: 100%;
		@media #{$phone} {
			@include rems(margin-right, -0.5);
		}
	}
	.slider-card {
		background: #fff;
		border: 1px solid #ccc;
		@include rems(padding, 1);
		text-align: center;
		@include border-radius(4px);
		@include box;
		width: 100%;
		display: flex;
		align-items: center;
		@include font-size(1.6, 2.4);
		@media #{$phone} {
			@include rems(margin, 0, 1);
		}
		.room-details & {
			@include font-size(1.4, 2);
		}
		& > div {
			width: 100%;
		}
		span {
			display: block;
		}
	}
	img {
		display: block;
	}
	ul {
		display: flex;
		align-items: stretch;
		li {
			display: flex;
			align-items: stretch;
		}
	}
	.hotel-gallery-thumbs {
		a {
			display: block;
			border: 2px solid #ccc;
			width: 100%;
			img {
				width: 100%;
			}
			&.active {
				border: 2px solid $primary;
			}
		}
	}
}
.overlay-trigger {
	display: inline-block;
	position: relative;
	color: $primary;
	span {
		position: absolute;
		top: 0;
		right: 0;
		@include rems(padding, 1);
		@include border-radius(0 0 0 5px);
		background: $primary;
		color: #fff;
		@include font-size(2, 2);
	}
}
i {
	&.green {
		color: $traffic-green;
	}
	&.amber {
		color: $traffic-amber;
	}
	&.red {
		color: $traffic-red;
	}
}
