.star-rating {
	// @include rems(width, 10);
	// @include rems(height, 2);
	// background: url('../images/stars-open@2x.png') center right no-repeat;
	// background-size: 100px auto;
	// background-size: 10rem auto;
	position: relative;
	&:before {
		@include icon('\f006 \f006 \f006 \f006 \f006');
	}
	span {
		display: block;
		position: absolute;
		// @include rems(height, 2);
		// background: url('../images/stars-solid@2x.png') center right no-repeat;
		// background-size: 100px auto;
		// background-size: 10rem auto;
		top: 0;
		bottom: 0;
		left: 0;
	}
	&.one-star {
		span {
			&:before {
				@include icon('\f005');
			}
		}
	}
	&.two-star {
		span {
			&:before {
				@include icon('\f005 \f005');
			}
		}
	}
	&.three-star {
		span {
			&:before {
				@include icon('\f005 \f005 \f005');
			}
		}
	}
	&.four-star {
		span {
			&:before {
				@include icon('\f005 \f005 \f005 \f005');
			}
		}
	}
	&.five-star {
		span {
			&:before {
				@include icon('\f005 \f005 \f005 \f005 \f005');
			}
		}
	}
}
