.summary-box {
	position: relative;
	background: #fff;
	@include rems(margin-bottom, 8);
	@include border-radius(0 0 2px 2px);
	-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
			box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
	@include rems(padding, 0, 8);
	@media #{$phone} {
		@include rems(margin-bottom, 2);
		@include rems(padding, 0, 2);
	}
	&:after {
		width: 0;
		height: 0;
		border-style: solid;
		@include rems(border-width, 2, 2, 0, 2);
		border-color: #ffffff transparent transparent transparent;
		content: '';
		display: block;
		position: absolute;
		top: 100%;
		left: 50%;
		@include rems(margin-left, -2);
		@media #{$phone} {
			@include rems(border-width, 1, 1, 0, 1);
			@include rems(margin-left, -1);
		}
	}
	&:last-child {
		margin-bottom: 0;
		&:after {
			display: none;
		}
	}
	.summary-section {
		@include rems(padding, 4, 0);
		border-bottom: 1px solid #ccc;
		@include clearfix;
		@media #{$phone} {
			@include rems(padding, 2, 0);
		}
		aside {
			@include rowMachine(2, 5%);
			@media #{$phone} {
				@include rowMachine(1, 5%);
				&:nth-child(2n+1):nth-last-child(-n+2),
  				&:nth-child(2n+1):nth-last-child(-n+2) ~ * {
  					margin-bottom: 5%;
  				}
  				&:last-child {
  					margin-bottom: 0 !important;
  				}
			}
		}
		&:last-child {
			border-bottom: 0;
		}
		&.success {
			i {
				color: $traffic-green;
			}
		}
		&.failure {
			i {
				color: $traffic-red;
			}
		}
	}
	table {
		width: 100%;
		@include rems(margin-bottom, 4);
		&:last-child {
			margin-bottom: 0;
		}
		tr {
			th {
				border-right: 1px solid #ccc;
				width: 35%;
				font-weight: 600;
				&:after {
					content: ':';
				}
				@media #{$phone} {
					border: none !important;
					padding-bottom: 0 !important;
				}
			}
			td, th {
				@include rems(padding, 1, 2);
				@include box;
				border-top: 1px solid #ccc;
				@media #{$phone} {
					width: 100%;
					display: block;
					border-top: none;
					border-bottom: 1px solid #ccc;
					@include rems(padding, 1, 0);
				}
			}
			&:first-child {
				td, th {
					border-top: none;
				}
			}
			td.pensio_payment_form_cvc_error {
				border-top: none;
			}
			small, img {
				@include rems(margin-left, 1);
			}
		}
		&.pensio_payment_form_table {
			margin: 0 auto;
			@include rems(margin-top, 2);
			border-collapse: separate;
			border-top: 1px solid #ccc;
			@media #{$phone} {
				border: none;
				border-top: 1px solid #ccc;
				border-radius: 0;
				margin-top: 0;
			}
			tr {
				td {
					display: block;
					width: 100%;
					border: none;
					color: #fff;
					font-size: 0;
					line-height: 0;
					@include clearfix;
					position: relative;
					@include rems(padding, 1, 0, 2);
					@media #{$phone} {
						@include rems(padding, 1, 0, 2);
					}
					img {
						position: absolute;
						@include rems(right, 5);
						top: 50%;
						display: block;
						z-index: 200;
						box-sizing: border-box;
						//@include rems(width, 4.8);
						//@include rems(height, 3);
						@media #{$phone} {
							@include rems(right, 3);
						}
						&::after {  
						  display: block;
						  position: absolute;
						  top: 0;
						  left: 0;
						  width: 100%;
						  height: 100%;
						  background-color: #fff;
						  content: '';
						  z-index: 10;
						}
						&::before {
							background-position: right center;
							background-repeat: no-repeat;
							background-size: contain;
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							content: '';
							z-index: 20;
						}
						&[src="/images/card_types/VISA_24x15.png"] {
							&::before {
								background-image: url(../images/cards/Visa.png);
							}
						}
						&[src="/images/card_types/MASTERCARD_24x15.png"] {
							&::before {
								background-image: url(../images/cards/MasterCard.png);
							}
						}
						&[src="/images/card_types/AMEX_24x15.png"] {
							&::before {
								background-image: url(../images/cards/AmericanExpress.png);
							}
						}
					}
					small, &.pensio_payment_form_label_cell {
						color: $body;
						font-weight: 600;
						padding: 0;
						@include font-size(1.6, 2);
						@media #{$phone} {
							padding: 0;
						}
					}
					small {
						padding: 0;
						@media #{$phone} {
							position: absolute;
							@include rems(right, 2);
							top: 50%;
							display: block;
							transform: translateY(-50%);
							z-index: 200;
						}
					}
					select {
						@include rowMachine(2, 2%);
						float: left;

					}
					input {
						max-width: 49%;
						@media #{$phone} {
							max-width: 100%;
						}
					}
				}
				&:first-child {
					td {
						&.pensio_payment_form_label_cell {
							@include rems(padding-top, 4);
							@media #{$phone} {
								@include rems(padding-top, 2);
							}
						}
						input {
							max-width: 100%;
						}
					}
				}
				&:last-child {
					td {
						&.pensio_payment_form_submit_cell {
							@include rems(padding-bottom, 4);
							@media #{$phone} {
								padding-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
	.booking-controls {
		@include rems(margin, 0, -0.5, 2);
		@include rems(padding-bottom, 2);
		display: flex;
		justify-content: flex-end;
		border-bottom: 1px solid #ccc;
		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		&.stretch {
			justify-content: space-between;
		}
		li {
			@include rems(margin, 0, 0.5);
			float: left;
		}
	}
}
