h1, h2 {
	header & {
		@include font-size(1.8, 2.4);
		@media #{$phone} {
			@include font-size(1.4, 1.8);
			@include rems(margin-bottom, 1);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&.page-title {
		@include font-size(3, 3.4);
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		@include rems(margin-bottom, 4);
	}
}

h2 {
	.search-form-container & {
		font-weight: 600;
		background: #ededed;
		@include rems(padding, 2, 4);
		@include font-size(2, 2.4);
		display: block;
		@media #{$phone} {
			@include rems(padding, 1, 2);
		}
	}
	.search-results-item-details &, &.feature-title {
		font-weight: 600;
		@include font-size(2.4, 3);
		@include rems(margin-bottom, 2);
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&.feature-title {
		display: block;
		border-bottom: 1px solid #ccc;
		@include rems(padding-bottom, 1);
		@include rems(margin-bottom, 4);
	}
	.summary-box &, .search-widget & {
		font-weight: 600;
		@include font-size(2, 2.4);
		@include rems(margin-bottom, 1);
	}
	.search-widget & {
		margin-bottom: 0;
	}
	&.summary-heading {
		background: #f7f7f7;
		@include rems(padding, 2, 8);
		font-weight: 600;
		@include font-size(2.4, 3);
		@include rems(margin, 0, -8);
		@media #{$phone} {
			@include rems(padding, 1, 2);
			@include font-size(2, 2.4);
			@include rems(margin, 0, -2);
		}
	}
}
h3 {
	.slider-card &, table & {
		font-weight: 600;
		@include font-size(1.6, 2.4);
		@include rems(margin-bottom, 1);
		@media #{$phone} {
			@include font-size(1.4, 1.8);
		}
	}
	table & {
		@include rems(margin-bottom, 1);
		a {
			color: $body;
		}
	}
	.summary-box & {
		font-weight: 600;
		@include font-size(2, 2.4);
		@include rems(margin, 2, 0, 1);
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&.payment-split {
		position: relative;
		text-align: center;
		font-style: italic;
		span {
			position: relative;
			z-index: 10;
			@include rems(padding, 0, 1);
			background: #fff;
		}
		&:before {
			left: 0;
			right: 0;
			top: 50%;
			height: 1px;
			background: #ccc;
			display: block;
			content: '';
			position: absolute;
			z-index: 0;
		}
	}
}
h4 {
	@include font-size(1.6, 2);
	@include rems(margin-bottom, 1);
	&:last-child {
		margin-bottom: 0;
	}
	span {
		@include font-size(1.4, 1.4);
	}
	@media #{$phone} {
		@include font-size(1.2, 1.6);
	}
}
ul, ol {
	.summary-box & {
		@include rems(margin-bottom, 4);
		li {
			@include rems(margin-bottom, 0.5);
			label {
				@include rems(padding-top, 1);
			}
			input {
				@include rems(max-width, 45);
				&[type=checkbox] {
					@include rems(margin-right, 0.5);
				}
			}
			&:first-child {
				label {
					padding-top: 0;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	.summary-box.terms-conditions & {
		@include rems(margin, 0, 0, 2, 4);
		li {
			list-style: disc;
		}
	}
}
ol {
	.summary-box.terms-conditions & {
		li {
			list-style: decimal;
		}
	}
}
th {
	font-weight: 600;
	text-align: left;
}
