.button {
	@include vertical-grad($alt, $primary);
	font-family: $body-font;
	&.secondary {
		color: $body;
		border: 1px solid $body;
		&:hover {
			background: $body;
		}
	}
	&.danger {
		@include vertical-grad($primary-dark, $alt-dark);
	}
}
