// Define new colours here, they'll be carried through the stylesheets

/*
*
*
COMMENT OUT IF NOT USING
*
*
*/

$primary: #e97e00;
$alt: #fdbc00;
$primary-dark: #dd681d;
$alt-dark: #bc4e21;
$body: #333;
