.slider-container, .hotel-details-sidebar {
	.bx-next, .bx-prev {
		color: $body;
		&:hover {
			color: $primary;
		}
	}
	.hotel-gallery-thumbs {
		a {
			&.active {
				border: 2px solid $primary;
			}
		}
	}
}
.overlay-trigger {
	color: $primary;
	span {
		background: $primary;
		color: #fff;
	}
}
