//Every Selector Used in core.css for overriding purposes

h1, h2 {
	&.header-logo {
		@include rems(height, 4);
		background: url('../images/client/sap-fkom/header-logo@2x.png') center left no-repeat;
		background-size: contain;
		width: 100%;
		@include rems(max-width, 17.2);
		text-indent: -10000px;
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
		@media #{$phone} {

			&:last-child {

			}
		}
	}
	&.page-title {

	}
}

h2 {
	.search-form-container & {
		color: #fff;
		background: #000;
		@media #{$phone} {

		}
	}
	.search-results-item-details &, &.feature-title {

	}
	&.feature-title {

	}
	.summary-box &, .search-widget & {

	}
	.search-widget & {

	}
	&.summary-heading {
		color: #fff;
		background: #000;
		@media #{$phone} {

		}
	}
}
h3 {
	.slider-card &, table & {

		@media #{$phone} {

		}
	}
	table & {

		a {

		}
	}
	.summary-box & {

		&:first-child {

		}
		&:last-child {

		}
	}
	&.payment-split {

		span {

		}
		&:before {

		}
	}
}
h4 {

	&:last-child {

	}
	span {

	}
	@media #{$phone} {

	}
}
ul, ol {
	.summary-box & {

		li {

			label {

			}
			input {

				&[type=checkbox] {

				}
			}
			&:first-child {
				label {

				}
			}
			&:last-child {

			}
		}
		&:last-child {

		}
	}
	.summary-box.terms-conditions & {

		li {

		}
	}
}
ol {
	.summary-box.terms-conditions & {
		li {

		}
	}
}
th {


}
